@model EmployeeManagement.ViewModels.CreateRoleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Administration" asp-action="CreateRole">
    <div class="form-inputs">
        <label asp-for="RoleName">RoleName</label>
        <input asp-for="RoleName" />
        <span asp-validation-for="RoleName" ></span>
    </div>
    
    <input class="submit-button" type="submit"/>
</form>