@model EmployeeManagement.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Account" asp-action="Login">
    <div class="form-inputs">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" ></span>
    </div>
    <div class="form-inputs">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input class="submit-button" type="submit"/>
</form>